.container {
  display: flex;
  justify-content: left;
}

.container form {
  width: 800px;
}

.mainDiv {
  font-family: 'Noto Sans HK', sans-serif;
}

.smallInput {
  width: 50%;
  padding: 10px;
  outline: 0;
  border-width: 0 0 2px;
  /* border-color: grey; */
}

.registerButton {
  /* background-color: #0074a3; */
  background-color: #017bff;
  border: none;
  width: 40%;
  margin: 2% 1.75%;
  margin-bottom: 30px;
  border-radius: 6px;
  /* float: right; */
  display: inline-block;
}
